body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    background: #FFFFFF;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 320px;
    background-color: #8D6E63;
    color: #fff;
    padding: 40px 30px;
    box-sizing: border-box;
    font-family: sans-serif;
}

.sidebar h2 {
    color: #fff;
    margin-bottom: 24px;
    font-size: 2em;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.sidebar h2 span {
    margin-right: 10px;
}

.sidebar ul {
    list-style-type: none;
    padding-left: 0;
}

.sidebar ul li {
    margin: 10px 0;
}

.sidebar a {
    color: #FFFFFF;
    text-decoration: none;
    font-weight: bold;
}

.sidebar a:hover {
    color: #FFA55D;
}

.sidebar ul {
    padding-left: 18px;
}

.main-content {
    flex: 1;
    padding: 32px 48px;
    background: #FFFFFF;
    min-height: 100vh;
    margin-left: 320px;
}

h2 {
    color: #222;
}

ul, p {
    font-size: 1.1em;
    color: #333;
}
